body{
  font-family: 'Roboto';
 }

.header-site{
  background-image: url(../AlessandroFrontEnd/Imagens/Header.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffff;
  padding-top: 250px;
  padding-bottom:275px;
}
.curriculo-button{
  width:100px;
  height: 30px;
  font-size: 19px;
  background-color: #0000FF;
  color: white;
  border: none;
  -webkit-box-shadow: 4px 2px 3px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    4px 2px 3px rgba(50, 50, 50, 0.77);
  box-shadow:         4px 2px 3px rgba(50, 50, 50, 0.77);
  border-radius: 5px;
}
.curriculo-button:hover{
  background-color: white;
  color: 	#0000FF;
}
.curriculo-button:active{
  width: 98px;
  height: 28px;
  box-shadow: none;
  font-size: 17px; 
}
.facebook{
  background-color: #4267B2;
}
.facebook:hover{
  background-color: white;
  color: #4267B2;
}
.linkedin{
  background-color: #6495ED;
}
.linkedin:hover{
  background-color: white;
  color: black;
}
.github:hover{
  background-color: white;
  color:black;
}
.introduction-site{
  
}
.nav{
  width: 100%;
  background-color: #1C1C1C;
  height: 50px;
  background-color: #F23005;
  -webkit-box-shadow: 4px 2px 3px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    4px 2px 3px rgba(50, 50, 50, 0.77);
  box-shadow:         4px 2px 3px rgba(50, 50, 50, 0.77);
  position:relative;
  border-radius:1%;
}
.nav-opt-r{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: white;
  margin-right: 20px;
  float: right; 
  position: relative; 
  top: 50%;                         
  transform: translate(0, -50%); 
}
.menu-jq{
  width:100%;
  height:0px;
  float: left;
  position: fixed;
  display: block;
  top: 0;
  
  background-color: #1C1C1C;
  -webkit-box-shadow: 4px 2px 3px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    4px 2px 3px rgba(50, 50, 50, 0.77);
  box-shadow:         4px 2px 3px rgba(50, 50, 50, 0.77);
}
.menu-jq-item{
  opacity: 0;
  float: right;
  display: block;
  
}
.div-pag{
  margin: 5%;
}
.div-pag-col{
  margin: 15%;
}

.scroll-aparecer{
  width: 100%;
  float: left;
  height: 0px;
  background-color: lightblue;
  position: fixed;
  top: 0;
  display: block;
}















.divPattern{
    margin: 50px;
   }

   .font-blue{
     color:#87CEFF;
   }
   .font-gray{
     color: gray;
   }
   .font-green{
     color: #00CD00;
   }
   .titulo{
     margin-bottom:-15px;
   }
  .font-white{
    color: white;
  }
  .dado{
   
    float: right;
  }
  .conjunto-dado{
     border-bottom: 1px solid gray;
  }
  
  .conjunto-dado:hover{
	  width: 100%;
	  background-color: lightgray;
  }

/* Telefones em paisagem e abaixo */
@media (max-width: 768px) { 
   .imgPerfil{
       width: 200px;
       border-radius: 50%;
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   .back-top-blue{
    width: 100%;
    height:250px;
    margin-bottom: -125px;
    background-color: #87CEFF;
   }
.nav{
  width: 100%;
  background-color: #1C1C1C;
  height: 50px;
  margin-top:-10px;
  position:relative;
  font-size: 20px;
}
.nav-opt{
  display: block;
  color: white;
  margin-left: 20px;
  position: relative;
  float: left;             
  top: 50%;                         
  transform: translate(0, -50%);
  
}

.about{
  text-align: center;
  width: 100%;
}
.p-centro{
  text-align: justify;     
  margin-right: 50px;
  margin-left: 50px;
}
.skill{
  background-color: #363636;
  border: 1px solid gray;
  text-align: center;
  padding-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  width:100%;
  
}
.education{
  margin:10px;
  padding-bottom: 30px;
  background-color:gray;
 
}
.education-header{
  background-color: white;
}
.icon{
  margin-left: 10px;
}
.infos{
 width:90%; 
 margin-left:10px;
 padding: 10px;
}
.conjunto-dado{
  margin-left: 10px;
  margin-bottom: 20px;
}
.progress-bar{
  border-start-end-radius:  90%;
    margin-left:10px;
    margin-right:10px;
    height: 10px;
    background-color: #363636;
    display: flex;
  
  }
 .progress-bar-10{
    --progress: 10;
  }
  .progress-bar-20{
    --progress: 20;
  }
  .progress-bar-30{
    --progress: 30;
  }
  .progress-bar-40{
    --progress: 40;
  }
  .progress-bar-50{
    --progress: 50;
  }
  .progress-bar-60{
    --progress: 60;
  }
  .progress-bar-70{
    --progress: 70;
  }
  .progress-bar-80{
    --progress: 80;
  }
  .progress-bar-90{
    --progress: 90;
  }
  .progress-bar-100{
    --progress: 100;
  }
  .progress-bar::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
    transition: all 0.2s ease;
  }
 
}

/* Telefones em paisagem a tablet em retrato */
@media (min-width: 768px) {

    .imgPerfil{
        width: 150px;
        border-radius:50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .back-top-blue{
      width: 100%;
      height:250px;
      margin-bottom: -100px;
      background-color: #87CEFF;
     }
    .imgBackTop{
        width: 100%;
        height:250px;
        margin-bottom: -100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nav{
        width: 100%;
        background-color: #1C1C1C;
        height: 50px;
        margin-top:-10px;
        position:relative;
    }
    .nav-opt{
      display: block;
      color: white;
      margin-left: 20px;
      position: relative;
      float: left;             
      top: 50%;                         
      transform: translate(0, -50%);
      
    }
    
    .about{
      margin-top: 25px;
      margin-right: 50px;
      margin-left: 50px;
    }
    .p-centro{

      margin-right: 50px;
      margin-left: 50px;
    }
    .skill{
      background-color: #363636;
      border: 1px solid gray;
      text-align: center;
      padding-bottom:10px;
      margin-left: 20%;
      width:500px;
      float: left;
    }
    .education{
      margin:10px;
      padding-bottom: 30px;
      background-color:gray;
     
    }
    .education-header{
      background-color: white;
    }
    .icon{
      margin-left: 10px;
    }
    .infos{
     width:50%; 
     margin-left:200px;
     padding: 10px;
    }
    .conjunto-dado{
      margin-left: 10px;
      margin-bottom: 20px;
    }
    .progress-bar{
      border-start-end-radius:  90%;
        margin-left:10px;
        margin-right:10px;
        height: 10px;
        background-color: #363636;
        display: flex;
      
      }
      .progress-bar-10{
        --progress: 10;
      }
      .progress-bar-20{
        --progress: 20;
      }
      .progress-bar-30{
        --progress: 30;
      }
      .progress-bar-40{
        --progress: 40;
      }
      .progress-bar-50{
        --progress: 50;
      }
      .progress-bar-60{
        --progress: 60;
      }
      .progress-bar-70{
        --progress: 70;
      }
      .progress-bar-80{
        --progress: 80;
      }
      .progress-bar-90{
        --progress: 90;
      }
      .progress-bar-100{
        --progress: 100;
      }
      .progress-bar::before{
        content: "";
        width: calc(var(--progress) * 1%);
        background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
        transition: all 0.2s ease;
      }
    
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 979px) {

    .imgPerfil{
        width: 170px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .imgBackTop{
        width: 95%;
        height:300px;
        margin-bottom: -120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nav{
      width: 100%;
      background-color: #1C1C1C;
      height: 50px;
      margin-top:-10px;
      position:relative;
  }
  .nav-opt{
    display: block;
    color: white;
    margin-left: 20px;
    position: relative;
    float: left;             
    top: 50%;                         
    transform: translate(0, -50%);
    
  }

  .about{
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 100px;
  }
  .p-centro{
    margin-right: 100px;
    margin-left: 100px;
  }
  .skill{
    background-color: #363636;
    border: 1px solid gray;
    text-align: center;
    padding-bottom:10px;
    margin-left: 5%;
    width:35%;
    float: left;
  }
  .education{
    margin:10px;
    padding-bottom: 30px;
    background-color:gray;
   
  }
  .education-header{
    background-color: white;
  }
  .icon{
    margin-left: 10px;
  }
  .infos{
   width:50%; 
   margin-left:300px;
   padding: 10px;
  }
  .conjunto-dado{
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .progress-bar{
    border-start-end-radius:  90%;
      margin-left:10px;
      margin-right:10px;
      height: 10px;
      background-color: #363636;
      display: flex;
    
    }
      .progress-bar-10{
        --progress: 10;
      }
      .progress-bar-20{
        --progress: 20;
      }
      .progress-bar-30{
        --progress: 30;
      }
      .progress-bar-40{
        --progress: 40;
      }
      .progress-bar-50{
        --progress: 50;
      }
      .progress-bar-60{
        --progress: 60;
      }
      .progress-bar-70{
        --progress: 70;
      }
      .progress-bar-80{
        --progress: 80;
      }
      .progress-bar-90{
        --progress: 90;
      }
      .progress-bar-100{
        --progress: 100;
      }
      .progress-bar::before{
        content: "";
        width: calc(var(--progress) * 1%);
        background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
        transition: all 0.2s ease;
      }
    }

/* Desktop grande */
@media (min-width: 1200px) {

    .imgPerfil{
        width: 200px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .back-top-blue{
      width: 100%;
      height:300px;
      margin-bottom: -150px;
      background-color: #87CEFF;
     }
  
    .nav{
      width: 100%;
      background-color: #1C1C1C;
      height: 50px;
      margin-top:-10px;
      position:relative;
      border-radius:1%;
  }
 
  .nav-opt{
    display: block;
    color: white;
    margin-left: 20px;
    position: relative;
    float: left;             
    top: 50%;                         
    transform: translate(0, -50%);
    
  }
 
  .about{
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 150px;
  }
  .p-centro{
    margin-right: 100px;
    margin-left: 100px;
  }
  .skill{
    background-color: #363636;
    border: 1px solid gray;
    text-align: center;
    padding-bottom:10px;
    margin-left: 5%;
    width:25%;
    float: left;
  }
  .education{
    margin:10px;
    padding-bottom: 30px;
    background-color:gray;
   
  }
  .education-header{
    background-color: white;
  }
  .icon{
    margin-left: 10px;
  }
  .infos{
   width:50%; 
   margin-left:275px;
   padding: 10px;
  }
  .conjunto-dado{
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .progress-bar{
    border-start-end-radius:  90%;
      margin-left:10px;
      margin-right:10px;
      height: 10px;
      background-color: #363636;
      display: flex;
    
    }
      .progress-bar-10{
        --progress: 10;
      }
      .progress-bar-20{
        --progress: 20;
      }
      .progress-bar-30{
        --progress: 30;
      }
      .progress-bar-40{
        --progress: 40;
      }
      .progress-bar-50{
        --progress: 50;
      }
      .progress-bar-60{
        --progress: 60;
      }
      .progress-bar-70{
        --progress: 70;
      }
      .progress-bar-80{
        --progress: 80;
      }
      .progress-bar-90{
        --progress: 90;
      }
      .progress-bar-100{
        --progress: 100;
      }
      .progress-bar::before{
        content: "";
        
        width: calc(var(--progress) * 1%);
        background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
        transition: all 0.2s ease;
      }
  

}