body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto ;
    background-color: lightgray;
}
h1{
    text-align: center; 
    font-size: 41px;
}
.header{
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-image:
    linear-gradient(
        to top,
        rgba(0,0,0,0),
        rgba(0, 0, 1, 0.829)
    ),
    linear-gradient(
        to bottom,
        rgba(0,0,0,0),
        rgb(0, 1, 1)
    ),
    url(../AlessandroFrontEnd/Imagens/Header.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffff;
    padding-top: 250px;
    padding-bottom:275px;
}
.menu{
    display: grid;
    
    grid-template-columns: 5% 5% 5% 5%;
    grid-template-rows: auto;
    background-color: black;
    width: 100%;
    height:49px;
    -webkit-box-shadow: 4px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    4px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         4px 2px 3px rgba(50, 50, 50, 0.77);
}
.menu-jq{
    width:100%;
    height:0px;
    position: fixed;
    top: 0;
}
.menu-responsivo{
    display: none;
}
.menu-item{
    padding-top: 22%;
    padding-bottom: 22%;
    color: white;
}
.jq-item{
    opacity: 0;
}
.facebook{
    background-color: #4267B2;
  }
  .facebook:hover{
    background-color: white;
    color: #4267B2;
  }
  .linkedin{
    background-color: #0077B5;
  }
  .linkedin:hover{
    background-color: white;
    color: black;
  }
  .github:hover{
    background-color: white;
    color:black;
  }
  .curriculo{
      background-color: #0000FF;
      color: white;
  }
  .curriculo:hover{
      background-color: rgb(0, 89, 255);
  }
  
.curriculo-button{
    width:100px;
    padding:10px;
    text-decoration: none;
    background-color: #0000FF;
    color: white;
    -webkit-box-shadow: 4px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    4px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         4px 2px 3px rgba(50, 50, 50, 0.77);
    border-radius: 5px;
  }
  .curriculo-button:hover{
    background-color: 	rgb(0, 89, 255);
  }
  .curriculo-button:active{
      border:1px solid #0000FF;
      width: 249px;
      height:39px;
  }

  .container{
    -webkit-box-shadow: 4px 2px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    4px 2px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         4px 2px 3px rgba(50, 50, 50, 0.77);
    width: 80%;
    margin-top: 1rem;
    justify-self: center;
    background-color: white;
    box-shadow: 0px 0.5rem 0rem lightgray;
    border-radius: 1rem;
    padding: 3rem;
  }

  ol{
      list-style: none;
      counter-reset: my-counter;
      margin: 0rem;
      padding: 0rem 0rem 0rem 1.5rem;
  }

  li{
      
      counter-increment: my-counter;
      border-left: solid 1px lightgray;
      padding-top: 2rem;
      padding-bottom:2rem;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      grid-template-areas: "icon text";
      align-items: start;
  }
  .about{
      margin: 100px 100px 0px 100px;
      margin-bottom: none;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows:50% 1fr;
      grid-template-areas: "imagem text";
      align-items: start;
  }
  .infos-site{
      color:blue;
  }
  .infos{
      margin-left:10%;
      margin-right:50%;
      display: grid;
      background-color:white;
      grid-template-columns:50% 50%;
      grid-template-rows: auto;
      grid-template-areas: "infos dados";
      align-items: start;
      padding-top: 10px;
      border-bottom:1px solid lightgray;
  }
  .infos:hover{
    border-bottom:2px solid black;
  }
  .info{
      
      grid-area:infos;
  }
  .dados{
      grid-area: dados;
  }
  img{
      width:200px;
  }
  .imagem{
      width:100%;
      height: auto;
     
    grid-area: imagem;
  }
  .texto{
      height:200px;
      background-color: white;
     
     
  }

  li::before{
      content:"0"counter(my-counter);
      font-weight: bold;
      background-color: blue;
      border-radius: 50%;
      padding: 1rem;
      color: white;
      margin-left: -1.5rem;
      margin-right: 2rem;
      grid-area: icon;

  }

  .panel{
      border-radius: 0.5rem;
      border: solid 1px blue;
      box-shadow: 0rem 0.2rem 0rem rgb(173, 186, 230);
      grid-area: text;
  }
  .panel-header{
      border-bottom: solid 1px blue;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      background-color: rgb(173, 186, 230);
      padding: 1rem;
  }

  .panel-body{
      padding: 1rem;
  }
  
  /* Telefones em paisagem e abaixo */
@media (max-width: 768px) {
    body{
        display: block;
    }
    h1{
        font-size: 20px;
    }
    .header{
    padding-top: 150px;
    padding-bottom:175px;
    }
    h4{
        font-size:12px;
    }
    .curriculo-button{
        font-size:16px;
        width: 90px;
        padding:10px;
    }
    
    .about{
        display: block;
        margin:10px 10px 10px 10px; 
    }
    .container{
       width:100%; 
    }
    .imagem{
        float: left;
        width: 100%;
    }
    .texto{
        float: left;
        width: 80%;
        height:fit-content;
    }
    .infos-site{
        margin-left:-40px
    }
    .infos{
        width: 80%;
        display:block;
        float:left;
        margin:5px 0 5px 1px;
    }
    .info{
        width: 100%;
    }
    .dados{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .menu-item{
        padding-top: 22%;
        padding-bottom: 22%;
        margin-bottom:-40px;
    }
    .menu-resposivo{
        display: block;
        position: fixed;
    }
}
